<!-- Start deneb_achivement section -->
<section id="mywork" class="deneb_project project_v1 deneb_achivement  section_padding"> 
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>My Work</h2>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-6  wow fadeInLeft">
					<h3>Make your app shine in crowded market by outsourcing UI part of Code</h3>
			</div>
			<div class="col-lg-6">
				<div class="achivment_wrapper">
					<div class="single_achivment wow fadeInUp">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_7.png" class="img-fluid" alt="">
						</div>
						<h3>50+</h3>
						<p>Projects Done</p>
					</div>
					<div class="single_achivment wow fadeInUp"  data-wow-delay=".1s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_8.png" class="img-fluid" alt="">
						</div>
						<h3>39+ millions</h3>
						<p>Users tapped my Work</p>
					</div>
					<div class="single_achivment wow fadeInUp" data-wow-delay=".2s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_9.png" class="img-fluid" alt="">
						</div>
						<h3>13+</h3>
						<p>Years of experience</p>
					</div>
					<div class="single_achivment wow fadeInUp"  data-wow-delay=".3s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_10.png" class="img-fluid" alt="">
						</div>
						<h3>10+</h3>
						<p>Appreciation & Recognitions</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_achivement section -->