<!-- Start deneb_testimonial section -->
<section id="whyyouneedus" class="deneb_testimonial testimonial_v1 section_padding">
	<div class="shape_v5">
		<img src="{{relative_url}}/assets/images/shape/shape_12.png" class="shape_12" alt="">
		<img src="{{relative_url}}/assets/images/shape/shape_13.png" class="shape_13" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Benefits of UiWorks</h2>
					<p>What are the benefits of outsourcing UI part of the code for your apps.</p>
				</div>
			</div>
		</div>
		<div class="row1">
			<div class="single_img">
				<img src="{{relative_url}}/assets/images/1.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{relative_url}}/assets/images/2.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{relative_url}}/assets/images/3.png" class="img-fluid" alt="">
			</div>
		</div>
		<div class="row2">
			<div class="single_img">
				<img src="{{relative_url}}/assets/images/4.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{relative_url}}/assets/images/5.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{relative_url}}/assets/images/6.png" class="img-fluid" alt="">
			</div>
			<div class="single_img">
				<img src="{{relative_url}}/assets/images/7.png" class="img-fluid" alt="">
			</div>
		</div>
		<div class="testimonial_slide">
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial_1.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Design Handoff</h3>
					<h5>No worry of Designer vs Developer long discssion</h5>
					<p>You or your team no longer have to spend time discussin on labels colors and animation because as UiWorks will be taking care of it 100%.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial_2.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Support All Screen Sizes & Orientation</h3>
					<h5>UI code which works great on all Screen Sizes</h5>
					<p>Many times developers are so busy delivering feature that they dont have enough time to test how app looks on all possible screen sizes and orientation. So UiWorks handle that part for you.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial_3.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Cost Saving</h3>
					<h5>30-60% of developer time goes into all UI related work.</h5>
					<p>So when you outsource 100% of the UI development, developers gets enough time to get product market fit.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_testimonial section -->