<!-- Start deneb_cta section -->
<section class="deneb_cta enterprice_v1 enterprice_v1_bottom">
	<div class="container">
		<div class="cta2_wrapper">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="cta2_content">
						<h2>Make Payment</h2>
						<h5>Before making payment please make sure that your project is developed in Swift, Obj-C or React Native. Once payment is made, you will get email to share project with me.</h5>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="button_box">
						<a href="" class="deneb_btn">Pay $199</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_cta section -->