<!-- Start deneb_experience section -->
<section id="faq" class="deneb_experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Frequently asked questions (FAQ)</h2>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❶</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>Why wouldn't I just let developer do these work?</h4>
						<div class="deneb_text_box">
							<p>Developers are geniuses, but they're not superheroes. They can do challenging work, but they also have to deal with tedious tasks like adjusting layout and text for different screen sizes. Outsourcing these tasks to UiWorks can improve the overall development process and save you time and money.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❶</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>When should you subscribe to UiWorks?</h4>
						<div class="deneb_text_box">
							<p>Once you have atleast one screen designed for your mobile app.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❷</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>Is there a limit to how many requests I can have?</h4>
						<div class="deneb_text_box">
							<p>Once I get your project access, you're able to add as many tasks/requests to your queue as you'd like, and they will be delivered one by one.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❸</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>How fast will I receive code changes?</h4>
						<div class="deneb_text_box">
							<p>On average, most requests are completed in just 2-3 days or less. However, more complex requests or lengthy tasks can take longer..</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❹</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>Who are the developer?</h4>
						<div class="deneb_text_box">
							<p>You might be surprised to hear this, but UiWorks is actually an agency of one. This means you'll work directly with me, founder of UiWorks. However, for some request such as custom animations or custom implementation I partner with expert developer.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❺</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>How does the pause feature work?</h4>
						<div class="deneb_text_box">
							<p>We understand you may not have enough development work to fill up entire month. Perhaps you only have one or two development tasks at the moment. That's where pausing your subscription comes in handy.

                                Billing cycles are based on 31 day period. Let's say you sign up and use the service for 21 days, and then decide to pause your subscription. This means that the billing cycle will be paused and you'll have 10 days of service remaining to be used anytime in the future.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❻</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>What programming languages use for all UI realted works?</h4>
						<div class="deneb_text_box">
							<p>All development is in Swift or Objective-C and some standard library like lotties.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❼</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>How do I raise requests for work?</h4>
						<div class="deneb_text_box">
							<p>You create tasks in trello board or send an email.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❽</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>What if I don't like code standards?</h4>
						<div class="deneb_text_box">
							<p>No worries! I'll continue to refactor or rewrite the code as per your set of guidelines, best practices, programming styles and conventions that you or your developers follow when writing code for a project</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❾</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>What if I only have a single request?</h4>
						<div class="deneb_text_box">
							<p>That's fine. You can pause your subscription when finished and return when you have additional work needs. There's no need to let the remainder of your subscription go to waste..</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>𝟏𝟎</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>Are there any refunds if I don't like service?</h4>
						<div class="deneb_text_box">
							<p>You can cancel your subscription at anytime but due quality nature of work, there will be no refunds issued.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_experience section -->