<!-- Start deneb_experience section -->
<section id="faq" class="deneb_experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Frequently asked questions (FAQ)</h2>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❶</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>Why wouldn't I just let developer do these work?</h4>
						<div class="deneb_text_box">
							<p> Many times developers are so busy delivering feature that they dont have enough time to test how app looks on all possible screen sizes and orientation on latest OS version.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❷</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>When should I make paymemt?</h4>
						<div class="deneb_text_box">
							<p>Only if have an Xcode project which you want to support it to latest OS.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❸</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>Is there a limit to how many projects I can have?</h4>
						<div class="deneb_text_box">
							<p>It's only one time payment for one project. So if you have more projects, make payment for each project.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❹</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>How fast will I receive code changes?</h4>
						<div class="deneb_text_box">
							<p>On average, most project will be completed in 2-4 weeks. However, more complex projects or lengthy tasks can take longer.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❺</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>Who are the developer?</h4>
						<div class="deneb_text_box">
							<p>UiWorks is actually an agency of one. This means you'll work directly with me(Nikhil Gohil), founder of UiWorks. I only accept limited work requests. (My Background: I've shipped 50+ apps since iOS 3 and more than 39 million users have tapped my work.)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❻</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="col-lg-10 col-md-5">
						<div class="deneb_info_box">
							<h4>Which programming languages do you code?</h4>
							<div class="deneb_text_box">
								<p>All development is in Swift, Objective-C or React Native.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❼</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>What if I don't like code standards?</h4>
						<div class="deneb_text_box">
							<p>No worries! I'll continue to refactor or rewrite the code as per your set of guidelines, best practices, programming styles and conventions that you or your developers follow when writing code for a project</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>❽</h3>
					</div>
				</div>
				<div class="col-lg-10 col-md-5">
					<div class="deneb_info_box">
						<h4>Are there any refunds if I don't like service?</h4>
						<div class="deneb_text_box">
							<p>Due to quality nature of work, there will be no refunds issued.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_experience section -->