<!-- Start deneb_project section -->
<section id="mywork" class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="/assets/images/shape/shape_10.png" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="project_button text-center">
					<button class="project_btn active_btn" data-filter="*">All</button>
					<button class="project_btn" data-filter=".startups">Startups</button>
					<button class="project_btn" data-filter=".sports">Sports</button>
					<button class="project_btn" data-filter=".social_netwotk">Social Network</button>
					<button class="project_btn" data-filter=".healthcare">Healthcare</button>
				</div>
			</div>
		</div>	
		<div class="projects_slider_content">
			<div class="single_project startups">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_chic_magazine.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4>CHIC Magazine</h4>
						<p>iOS & iPad app</p>
					</div>
				</div>
			</div>
			<div class="single_project events sports">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_2.png" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4>Sacramento Kings</h4>
						<p>Official iOS app</p>
					</div>
				</div>
			</div>
			<div class="single_project social_netwotk startups">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_flatlay.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Flatlay</a></h4>
						<p>iOS & iPad app</p>
					</div>
				</div>
			</div>
			<div class="single_project events sports">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_1.png" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4>Golden State Warriors</h4>
						<p>Official iOS app</p>
					</div>
				</div>
			</div>
			<div class="single_project startups">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_cappptalog.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4>Capptalog</h4>
						<p>iOS & iPad app</p>
					</div>
				</div>
			</div>
			<div class="single_project social_netwotk">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_tibbr.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4>tibbr</h4>
						<p>iOS & iPad app</p>
					</div>
				</div>
			</div>						
			<div class="single_project healthcare">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_4.png" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4>AstraZeneca</h4>
						<p>three iOS & iPad apps</p>
					</div>
				</div>
			</div>
			<div class="single_project startups">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_finterra.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4>Finterra</h4>
						<p>Crypto wallet & exchange iOS apps</p>
					</div>
				</div>
			</div>
			<div class="single_project healthcare">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_3.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">NHAM</a></h4>
						<p>National Heart Association of Malaysia</p>
					</div>
				</div>
			</div>
			<div class="single_project startups">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_kurb_karma.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">KurbKarma</a></h4>
						<p>iOS app</p>
					</div>
				</div>
			</div>
			<div class="single_project healthcare">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_imedic.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">iMedic</a></h4>
						<p>iOS & iPad app</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_project section -->