<nav class="main_menu">
    <ul>
	  <li class="menu-item active_link"><a href="{{#}}">Home</a></li>
      {% for menu in site.data.navigation %}
      <li class="menu-item active_link"><a href="{{menu.url}}">{{menu.text}}</a>
       {% if menu.submenu %}
		<ul class="sub-menu">
			{% for submenu_item in menu.submenu %}
			<li class="menu-item"><a href="{{submenu_item.url}}">{{submenu_item.text}}</a></li>
			{% endfor %}
		</ul>
		</li>
       {% endif %}
      {% endfor %}
      <li class="menu-item"><a href="#seeplans" class="deneb_btn">See Plans</a></li>
    </ul>
</nav>
