<!-- Start deneb_project section -->

<section class="news_wrapper">
    <div>
            <div class="col-lg-12">
                <div class="service_tab_wrap">
                    <div class="service_tab_nav">
                        <ul class="nav nav-tabs">
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/cnet_uiworks.png"><span>CNET</span></a>
                            </li>
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/cult-of-mac-logo-uiworks.png"><span>Cult Of Mac</span></a>
                            </li>
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/digital-news-asia-uiworks.jpg"><span>DNA</span></a>
                            </li>
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/gartner-uiworks.png"><span>Gartner</span></a>
                            </li>
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/Inc_uiworks.png"><span>Inc.</span></a>
                            </li>
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/tech_crunch_uiworks.png"><span>TechCrunch</span></a>
                            </li>
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/tnw_uiworks.png"><span>TheNextWeb</span></a>
                            </li>
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/usa_today_uiworks.png"><span>USA Today</span></a>
                            </li>
                            <li class="nav-item2">
                                <a class="nav-link"><img src="../assets/images/venture_beat_uiworks.png"><span>VentureBeat</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
    </div>
</section>
<!-- End deneb_project section -->