<!-- Start deneb_experience section -->
<section class="deneb_experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>How we work together?</h2>
					<p>Here are the overview of how we will work together with your tech team when you choose our service.</p>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p> You signup for the service and get the require access to demand mamangement tools.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>1.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Signup & Agreement</h4>
						<h5>Access to Tools & Systems</h5>
						<h6>1-2 Days</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Submit Design Files</h4>
						<h5>Set priority for each screen</h5>
						<h6>4-5 Days</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>2.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Once you signup you can share your designs files to our team with setting each screen's priority for UI development. So that we can deliver each screen one after another.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>We deliver UI code with localisation and accessiblity support and your devs can start integrating those UI into project.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>3.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>UI code delivery</h4>
						<h5>Devs can integrate UI code into project</h5>
						<h6>till all UI delivered</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Support for Bug fixes & Deprecated APIs </h4>
						<h5>You will get support for bug fixes and deprecated APIs for all supported devices</h5>
						<!-- <h6>4-5 Days</h6> -->
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>4.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>We will keep sharing updated UI code with all bug fixes and deprecated APIs changes for all supported devices.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_experience section -->