<!-- Start deneb_service section -->
<section id="services" class="service_wrapper section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>What do you get?</h2>
					<p>With our subscription, you can rest assured that your app's UI will be handled by experts, so you can focus on building great apps.</p>
				</div>
			</div>
		</div>
		<div class="list">
			<ul>
				<li><b>1. Complete DesignToCode which includes UI, Animations, Transitions, Dark/Light mode, Localization, Accessibility, Analytics.				</b></li>
				<li><b>2. Bringing your existing apps to visionOS (Vision Pro) </b></li>
				<li><b>3. Redesign / fine tune UI of your existing apps </b></li>
				<li><b>4. Upgrade your app UI to latest OS version (upgrade deprecated API to latest one) </b></li>
			</ul>
		</div>
			<div class="row">
			<div class="col-lg-12">
				<div class="service_tab_wrap">
					<div class="service_tab_nav">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						      	<a class="nav-link active" data-toggle="tab" href="#uidev"><span>  <img src="../assets/images/icons8-source-code-100.png" alt="UI development"><br>UI Code & Animations</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#darklightmode"><span><img src="../assets/images/icons8-dark-mode-100.png" alt="Dark & Light mode">Dark & Light Mode</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#localizationaccessibility"><span><img src="../assets/images/icons8-language-100.png" alt="Localization, Accessibility">Localization, Accessibility</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#hapticaudio"><span><img src="../assets/images/icons8-haptic-98.png" alt="Hapitic & Audio">Haptic & audio</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#analytics"><span><img src="../assets/images/icons8-analytics-80.png" alt="Hapitic & Audio">Analytics</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#bugs"><span><img src="../assets/images/icons8-website-bug-80.png" alt="Hapitic & Audio"><br>UI Bug Fixes</span></a>
						    </li>
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
					    <div id="uidev" class="tab-pane active">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>UI Code & Animations</h2>
					      				<p><b>UI Code</b> (views, controls, and layout) <b>and animation/transition code</b> for iOS, visionOS, iPadOS, macOS, watchOS & tvOS in SwiftUI, UIKit, Storyboard, AppKit or WatchKit. 
											I make sure views will support Multitasking and Orientations.</p>
										<p>I do <b>assets management.</b> Which is adding images, strings, data files, and other resources to your projects </p>
									    <p>So basically I turn all provided designs in AdobeXD, Figma, inVision, Photoshop, Sketch to UI Codes so you & your dev team never have to worry about how your app will look on different screen sizes.</p>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="darklightmode" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>Dark & Light Mode</h2>
					      				<p>Dark and Light mode are no longer optional. Users choose the aesthetic they prefer, and can also choose to toggle their interface based on ambient lighting conditions or a specific schedule.</p>
					      				<p>I develop <b>views and controls</b> which update their appearance to match the current interface style.</p>
					      				<p><b>Colors</b> that work well in a light appearance may be hard to see in a dark appearance, and vice versa. An adaptive color object returns different color values for different interface styles.</p>
										<p><b>Images</b> for light and dark modeCreate Images for both light and dark appearances
									</div>
					      		</div>
					      		
					      	</div>
					    </div>
					    <div id="localizationaccessibility" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>Localization & Accessibility</h2>
					      				<p>Localization: Localization allows you to expand your app's reach to new markets by translating your app's text and images into different languages. I will add localization strings for each label and button, and check that they are perfectly aligned on all screen sizes and orientations..</p>
					      				<p>Accessibility: Accessibility features allow people with disabilities to interact with their devices. By designing your app with accessibility in mind, you can make it possible for everyone to enjoy your app.</p>
										<p>There are four main accessibility domains:</p>
										<p>
											1. <b>Vision</b>: People with vision impairments may be blind, color blind, or have difficulty focusing. Your app should provide clear and concise text, as well as high-contrast colors and graphics.</br>
											2. <b>Hearing</b>: People with hearing impairments may be deaf, have partial hearing loss, or have difficulty hearing certain sounds. Your app should provide captions for audio content and allow users to adjust the volume.</br>
											3. <b>Mobility</b>: People with limited mobility may have difficulty holding a device or tapping the screen. Your app should have large buttons and allow users to navigate with their keyboards.</br>
											4. <b>Cognition</b>: People with cognitive impairments may have difficulty remembering a sequence of steps or understanding complex instructions. Your app should provide clear and concise instructions, as well as the ability to skip steps or repeat instructions.</br>
											By considering the needs of all users, you can create an app that is accessible to everyone.
										</p>
					      			</div>
					      		</div>
					      		
					      	</div>
					    </div>
					    <div id="hapticaudio" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>Haptic and audio feedback</h2>
					      				<p>Your app can play custom haptic patterns crafted from basic building blocks called haptic events. Events can be transient, like the feedback you get from toggling a switch, or continuous, like the vibration or sound from a ringtone. You can use transient and continuous patterns independently, or build your pattern from precise combinations of the two. Another type of haptic event allows you to play customized audio content as part of your pattern.
											</br>
											Here are some examples of how you can use haptic feedback in your app:
										</br>
										</p>
										<p>
											<b>To confirm an action:</b> When a user taps a button, you can play a short, sharp haptic event to confirm that the action was received.</br>

											<b>To provide feedback:</b> When a user scrolls through a list, you can play a continuous haptic event to provide feedback about the scrolling motion.</br>
											<b>To create a sense of immersion:</b> In a game, you can play haptic events to simulate the feeling of walking, jumping, or shooting.</br></br>
											By using haptic feedback, you can create a more engaging and immersive user experience for your app.</p>
					      			</div>
					      		</div>
					      		
					      	</div>
					    </div>
					    <div id="analytics" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>Analytics</h2>
					      				<p>Addings all analytics events keys to user's interaction with interactive components of your app, like button presses or the use of a particular action in the app, you get a chance to look into user behavior and it helps in planning next phase/release of app development.</p></p>
					      			</div>
					      		</div>
					      		
					      	</div>
					    </div>
						<div id="bugs" class="tab-pane fade">
							<div class="row align-items-center">
								<div class="col-lg-12">
									<div class="deneb_content_box">
										<h2>UI Bug Fixes</h2>
										<p>I fix all the UI related bugs of the app so you/developers don't have to spend valuable time on fixing label text or colors while fixing high priority bugs and features.</p>
									</div>
								</div>
							</div>
					  </div>
					</div>
					<!-- tab pane -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_service section -->