<!-- Start deneb_service section -->
<section id="services" class="service_wrapper section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>What do you get?</h2>
					<p>Upon subscribing,, you will no longer need to worry about the UI part of the code for your Xcode projects & how your app will look on all screen sizes.</p>
				</div>
			</div>
		</div>
		<div class="list">
			<ul>
				<li><b>1. Complete DesignToCode which includes UI, Animations, Transitions, Dark/Light mode, Localization, Accessibility, Analytics.				</b></li>
				<li><b>2. Bringing your existing apps to visionOS (Vision Pro) </b></li>
				<li><b>3. Redesign / fine tune UI of your existing apps </b></li>
				<li><b>4. Upgrade your app UI to latest OS version (upgrade deprecated API to latest one) </b></li>
			</ul>
		</div>
			<div class="row">
			<div class="col-lg-12">
				<div class="service_tab_wrap">
					<div class="service_tab_nav">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						      	<a class="nav-link active" data-toggle="tab" href="#uidev"><span>  <img src="../assets/images/icons8-source-code-100.png" alt="UI development"><br>UI Code & Animations</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#darkmode"><span><img src="../assets/images/icons8-dark-mode-100.png" alt="Dark & Light mode">Dark & Light Mode</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#localization"><span><img src="../assets/images/icons8-language-100.png" alt="Localization, Accessibility">Localization, Accessibility</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#analytics"><span><img src="../assets/images/icons8-haptic-98.png" alt="Hapitic & Audio">Haptic & audio</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#accessibility"><span><img src="../assets/images/icons8-analytics-80.png" alt="Hapitic & Audio">Analytics</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#bugs"><span><img src="../assets/images/icons8-website-bug-80.png" alt="Hapitic & Audio"><br>UI Bug Fixes</span></a>
						    </li>
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
					    <div id="uidev" class="tab-pane active">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>UI Code & Animations</h2>
					      				<p>Get UI Code (views, controls, and layout) and animation/transition code for iOS, visionOS, iPadOS, macOS, watchOS & tvOS in SwiftUI, UIKit, Storyboard, AppKit or WatchKit. 
											Views will support Multitasking and Orientations. </p>
										<p>Assets Management (Add images, strings, data files, and other resources to your projects, and manage how you load them at runtime.) : https://developer.apple.com/documentation/xcode/asset-management </p>
									    <p>So basically your designer provide designs in AdobeXD, Figma, inVision, Photoshop, Sketch and UiWorks turn these Designs to Codes so you & your dev team never have to worry about how your app will look on different screen sizes.</p>
					      			</div>
					      		</div>
					      		
					      	</div>
					    </div>
					    <div id="darkmode" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>Dark & Light Mode</h2>
					      				<p>implements an interface style that many apps already adopt. Users choose the aesthetic they prefer, and can also choose to toggle their interface based on ambient lighting conditions or a specific schedule..</p>
					      				<p>Standard views and controls automatically update their appearance to match the current interface style. If you already use color and image assets, you can add dark variants without changing your code..</p>
					      				<p>Choose Adaptive Colors for Your UI - Choose colors that adapt automatically to the underlying interface style. Light and dark interfaces use very different color palettes. Colors that work well in a light appearance may be hard to see in a dark appearance, and vice versa. An adaptive color object returns different color values for different interface styles.</p>
										<p>Create Images for All Appearances
											Make sure the images in your interface look good in both light and dark appearances. Interfaces use images in many places, including in buttons, image views, and custom views and controls. If an image is difficult to see when changing appearances, provide a new image asset that looks good in the other appearance. Better yet, use a symbol image or template image, which define only the shape to render and therefore do not require separate images for light, dark, and high-contrast environments.</p>
											<p>Update Custom Views Using Specific Methods
												When the user changes the system appearance, the system automatically asks each window and view to redraw itself. During this process, the system calls several well-known methods for both macOS and iOS, listed in the following table, to update your content. The system updates the trait environment before calling these methods, so if you make all of your appearance-sensitive changes in these methods, your app updates itself correctly.</p>
												<p>Visual-Effect Materials Based on the Intended Usage
													Visual-effect views add transparency to your background views, which gives your UI more visual depth than if the backgrounds were opaque. To ensure that your content remains visible, visual-effect views blur the background content subtly and add vibrancy effects to adjust the colors of your foreground content automatically. The system updates these effects dynamically, ensuring that your app's content remains visible when the underlying content changes.</p>
									</div>
					      		</div>
					      		
					      	</div>
					    </div>
					    <div id="development" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>Localization & Accessibility</h2>
					      				<p>Localization: Translate and adapt your app
											In Xcode, localization refers specifically to the set of resources for a specific language and region that you support.
											You add a localization to your project and select the resources you want to include for that language and region. Export the localization and send the files to localizers, who translate the user-facing text and adapt resources for particular cultures and regions. Finally, you import the localized files and test the app in that language and region directly in Xcode.
											When you release a localized version of your app, you can also localize the App Store information in App Store Connect for the specific territories where you offer your app.
											For other localization tips, tools, and resources, see Expanding Your App to New Markets.</p>
					      				<p>Accessibility: Accessibility features help a wide range of people interact with their devices. For many, accessibility is a necessity. For others, it’s a practicality. For example, closed captions can be necessary for someone who is deaf or hard of hearing, but also useful for someone watching a video in a noisy environment.
											The four accessibility domain symbols for vision, hearing, mobility, and cognitive. From left-to-right, an eye icon, an ear icon, an icon of a hand with an extended index finger, and an icon of a profile of a head that shows the brain.
											Whether you’re developing a new app, or updating an existing one, consider the needs of all the people who might use your app. People can personalize their devices by choosing which accessibility features give them the best user experience.
											By designing your app with accessibility in mind, you make it possible for everyone to enjoy your app. For simplicity, there are four accessibility domains to keep in mind when thinking about your users:
											
											Vision — A person may be blind or color blind, or have a vision challenge that makes focusing difficult.
											Hearing — A person may be deaf, have partial hearing loss, or have difficulty hearing sounds within a certain range.
											Mobility — A person with reduced mobility may have difficulty holding a device or tapping the interface.
											Cognitive — A person may have difficulty remembering a sequence of steps, or they may find an overly complex user interface difficult to process and manage.</p>
					      			</div>
					      		</div>
					      		
					      	</div>
					    </div>
					    <div id="localization" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>Haptic and audio feedback</h2>
					      				<p>Use haptics to engage users physically, with tactile and audio feedback that gets attention and reinforces actions. Some system-provided interface elements—like pickers, switches, and sliders—automatically provide haptic feedback as users interact with them. With Core Haptics, you extend this functionality by composing and combining haptics beyond the default patterns.
											Your app can play custom haptic patterns crafted from basic building blocks called haptic events (CHHapticEvent). Events can be transient, like the feedback you get from toggling a switch, or continuous, like the vibration or sound from a ringtone. You can use transient and continuous patterns independently, or build your pattern from precise combinations of the two. Another type of haptic event allows you to play customized audio content as part of your pattern..</p>
					      			</div>
					      		</div>
					      		
					      	</div>
					    </div>
					    <div id="analytics" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-12">
					      			<div class="deneb_content_box">
					      				<h2>Analytics</h2>
					      				<p>Analytics: Addings all analytics events keys to user's interaction with interactive components of your app, like button presses or the use of a particular item in a game.</p>
					      			</div>
					      		</div>
					      		
					      	</div>
					    </div>
					    <div id="accessibility" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Accessibility</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/06.jpg" class="img-fluid" alt="Business Analysis"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
						<div id="bugs" class="tab-pane fade">
							<div class="row align-items-center">
								<div class="col-lg-12">
									<div class="deneb_content_box">
										<h2>UI Bug Fixes</h2>
										<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
										<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
										<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
									</div>
								</div>
							</div>
					  </div>
					</div>
					<!-- tab pane -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_service section -->