<!-- Start deneb_service section -->
<section id="services" class="service_wrapper section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>What do you get?</h2>
					<p>Upon subscribing, you will no longer need to worry about the UI part of the code for your Xcode projects & how your app will look on all screen sizes.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="service_tab_wrap">
					<div class="service_tab_nav">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						      	<a class="nav-link active" data-toggle="tab" href="#uidev"><img src="../assets/images/icon_14.png" alt="UI development"><span>UI Code</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#animations"><img src="../assets/images/icon_19.png" alt="Animations"><span>Animations</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#localization"><img src="../assets/images/icon_6.png" alt="Localization"><span>Localization</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#analytics"><img src="../assets/images/icon_15.png" alt="Analytics"><span>Analytics</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#accessibility"><img src="../assets/images/icon_16.png" alt="Accessibility"><span>Accessibility</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#bugs"><img src="../assets/images/icon_17.png" alt="UI Bugs Fix"><span>UI Bugs Fix</span></a>
						    </li>
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
					    <div id="uidev" class="tab-pane active">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>UI Code</h2>
					      				<p>UiWorks provides UI Code (views, controls, and layout) code for iOS, visionOS, iPadOS, macOS, watchOS & tvOS in SwiftUI, UIKit, Storyboard, AppKit or WatchKit.</p>

									    <p>So basically your designer provide designs in AdobeXD, Figma, inVision, Photoshop, Sketch and UiWorks turn these Designs to Codes so you & your dev team never have to worry about how your app will look on different screen sizes.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/01.jpg" class="img-fluid" alt="Web Solution"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="animations" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Dark & Light Mode</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/02.jpg" class="img-fluid" alt="Strategy & Research"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="development" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Localization</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/03.jpg" class="img-fluid" alt="Web Development"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="localization" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Analytics</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/04.jpg" class="img-fluid" alt="App Design"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="analytics" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Accessibility</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/05.jpg" class="img-fluid" alt="Digital Marketing"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="accessibility" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Accessibility</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/06.jpg" class="img-fluid" alt="Business Analysis"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
						<div id="bugs" class="tab-pane fade">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<div class="deneb_content_box">
										<h2>UI Bug Fixes</h2>
										<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
										<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
										<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="deneb_img_box">
										<img src="../assets/images/services/06.jpg" class="img-fluid" alt="Business Analysis"/>
									</div>
								</div>
							</div>
					  </div>
					</div>
					<!-- tab pane -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_service section -->