<!-- Start deneb_banner section -->
<section class="deneb_banner banner_v1">
	<div class="shape_v1">
		<img src="/assets/images/shape/shape_1.png" class="shape_1" alt="slider one">
	</div>
	<div class="container">
		<div class="hero_slider">
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>A team for your tech team.<br><span>save 30-40% of development cost & effort</span></h1>
							<!-- <h1>We're team of your tech team <br><span> We make interfaces for Mobile(iOS/Android), iPad & Mac App Interfaces</span></h1> -->
							<h5>We develop UI for iOS, Android, iPad, Mac App, Apple/Android TV, AR/VR  <br><br><p><span>in React Native, Flutter, Swift, Kotlin & Objective-C </span></p> </h5>
							<!-- <img src="/assets/images/devicons/swift-original.png" class="dev_icon"/> <img src="/assets/images/devicons/kotlin-original.png" class="dev_icon"/> <img src="/assets/images/devicons/react-original.png" class="dev_icon"/>  <img src="/assets/images/devicons/flutter-original.png" class="dev_icon"/> & <img src="/assets/images/devicons/flutter-original.png" class="dev_icon"/> -->
							<a href="https://bit.ly/3mWxRLh" class="deneb_btn">Know more.</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/service_2.png" class="img-fluid" alt="slider two"/>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>We Are Helping <br><span>Deneb Agency</span></h1>
							<h5>We Are Professional Freelance Web Designer</h5>
							<p>Nulla id euismod massa. Donec accumsan semper lacus, vestibulum gravida ante sed eu lacus et diam lacinia.</p>
							<a href="#" class="deneb_btn">Hire Me</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_02.png" class="img-fluid" alt="slider three"/>
						</div>
					</div>
				</div>
			</div>
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>We Are Creative <br><span>Deneb Agency</span></h1>
							<h5>We Are Professional Freelance Web Designer</h5>
							<p>Nulla id euismod massa. Donec accumsan semper lacus, vestibulum gravida ante sed eu lacus et diam lacinia.</p>
							<a href="#" class="deneb_btn">Hire Me</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_03.png" class="img-fluid" alt="slider four"/>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>
<!-- End deneb_banner section-->